#slicePlots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.sliceContainer {
    flex: 1;
    min-width: 300px; /* Adjust as needed */
    margin: 10px;
}
